<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	<style type="text/css">
		body{
			padding-top: 40px;
		}
	</style>
</head>
<body>
	<div id="app">
		<!--<message title="hey cutie3.14">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</message>-->
		

		<!--
		notification is-danger
		notification is-warning
		notification is-success
		notification is-info
		notification is-primary
		-->
		
		<notification notitype="is-success">I see I see</notification>
		
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="message.js"></script>
</body>
</html>