<!DOCTYPE html>
<html>
<head>
	<!--https://ayoisaiah.com/vuejs-todolist-app/-->
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
	<body>
		<div class="container" id="todo">
			
			<section class="panel">
				
				<input type="checkbox" id="mark-all" :checked="areAllSelected" @click="selectAll">
				
				<input type="text" placeholder="What do you need to do?" autofocus class="text-input" v-model="newTask" v-on:keyup.enter="addTask">

				<button @click = "clearList">Clear list</button>
				
			</section>
			
			<ul class="list">
				
				<li v-for="task in taskList" :class="{done: task.checked}">
					
					<input type="checkbox" class="checkbox" v-model="task.checked">

					<label for="checkbox" @click="EditTask(task)" v-show="!task.edit">{{ task.text }}</label>
					<input type="text" class="text-input" v-show="task.edit" v-on:keyup.enter="EditDone(task)" v-model="task.text">

					<button class="delete" @click="removeTask(task)">X</button>

				</li>
			
			</ul>
			
			<pre>{{ $data }}</pre>
		
		</div>
		<label></label>
			<script src="https://unpkg.com/vue"></script>
			<script type="text/javascript">
				var app = new Vue({
					el: "#todo",
					data: {
						newTask: "",
						taskList: [],
					},

					computed: {
						areAllSelected: function(){
							return this.taskList.every(function(task){
								return task.checked;
							}) && this.taskList.length > 0;
						},
					},
					
					methods:{
						addTask: function(){
							var task = this.newTask.trim();
							if(task){
								this.taskList.push({
									text:task,
									checked: false,
									edit: false
								});
								this.newTask = "";
							}
						},
						
						removeTask: function(task){
							var index = this.taskList.indexOf(task);
							this.taskList.splice(index,1)
						},
						
						clearList: function(){
							this.taskList = [];
						},
						selectAll: function(){
							var targetValue = this.areAllSelected ? false: true;
							for(var i = 0; i< this.taskList.length; i++){
								this.taskList[i].checked = targetValue;
							}
						},
						EditTask: function(Task){
							Task.edit = true;
						},
						EditDone: function(Task){
							Task.edit = false;
						}
					}
				});
			</script>
	</body>
</html>